*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Baloo da 2",cursive;
}
html{
    font-size: 62.5%;
}

.container{
    width:100%;
    height:100vh;
    background-color: #17181b;
}

.countdown-wrapper{
    width: 50%;
    position:absolute;
    top:10%;
    text-align: center;
    color:#ddd;
}

.countdown-wrapper h1{
    font-size:5rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.5);
}
.countdown{
    display: flex;
    justify-content: center;
}

.countdown div {
    width: 6.5rem;
    height: 6.5rem;
    background: linear-gradient(to bottom, rgba(61, 58, 58, 0.9) 50%, rgba(99, 93, 93, 0.9) 0);
    margin: 0 1rem 12rem 1rem; /* Adjust margin as needed */
    font-size: 3.5rem;
    display: flex;
    font-weight: 200;
    justify-content: center;
    align-items: center; /* Change to center */
    box-shadow: 0 0.8rem 2.5rem rgba(0, 0, 0, 0.5);
    position: relative;
}

.countdown div::before{
    content:"";
    position:absolute;
    width:100%;
    height:0.24rem;
    background-color: #17181b;
}
.countdown div::after{
content:attr(data-content);
font-size: 1.1rem;
font-weight: 200;
position:absolute;
bottom:-3rem;
}

.reset{
    width:11rem;
    height:3rem;
    border:none;
    background-color:#a52a2a;
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing:.1rem;
    text-transform: uppercase;
    color:#eee;
    text-shadow:0.1rem .3rem rgba(0,0,0,0.3);
    box-shadow:0.1rem .4rem rgba(0,0,0,0.3);
}


/*Stopwatch*/
.container1 {
    width: 100%;
    height: 100vh;
    background-color: #17181b;
}

.stopwatch-wrapper1 {
    width: 140%;
    position: absolute;
    top: 60%;
    text-align: center;
    color: #ddd;
}

.stopwatch-wrapper1 h1 {
    font-size: 5rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.5);
}
.stopwatch1 {
    font-size: 3.5rem;
    font-weight: 200;
    color: #eee;
    text-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}
.start-stop1, .reset1 {
    width: 11rem;
    height: 3rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #eee;
    text-shadow: 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.start-stop1 {
    background-color: #008000; /* Green color for Start button */
}

.reset1 {
    background-color: #a52a2a; /* Red color for Reset button */
}

@media only screen and (max-width: 768px) {
    .countdown-wrapper {
        width: 80%; /* Adjust as needed for smaller screens */
    }

    .stopwatch-wrapper1 {
        width: 90%; /* Adjust as needed for smaller screens */
    }
}